body{
    background-color: rgb(255, 198, 127);
    font-family: Arial, Helvetica, sans-serif;
    display: flex; /*將元素設定為 Flexbox（彈性盒子）容器*/
    flex-direction: column; /*設定 Flexbox 容器中子元素的排列方向為垂直（從上到下）*/
    align-items: center; /*將子元素水平置中*/
    justify-content: flex-start;  /*將子元素垂直置頂*/
    height: 100vh; /*設定高度為「視窗高度」*/
    margin: 10px;
    border: 10px dashed rgb(255, 119, 0);
    border-radius: 10px; /*設定圓角*/
}
#game-info{
    background-color: rgb(255, 213, 159);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}
#controls{
    background-color: rgb(255, 213, 159);

}
#game-container{
    background-color: rgb(255, 217, 176);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}
.game-area{
    width: 500px;
    border-radius: 10px;
    padding: 50px;
    margin: 5px;
}
/*試管*/
.tube{
    width: 50px;
    height: 200px;
    border: 2px solid black;
    border-radius: 0 0 10px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    margin-top: none;
}
.water{
    width: 100%;
}
.tube.selected{
    border-color: red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.748);
    transform: translateY(-20px);
}