body{
    background-color: rgb(255, 198, 127);
    font-family: Arial, Helvetica, sans-serif;
    display: flex; /*將元素設定為 Flexbox（彈性盒子）容器*/
    flex-direction: column; /*設定 Flexbox 容器中子元素的排列方向為垂直（從上到下）*/
    align-items: center; /*將子元素水平置中*/
    justify-content: flex-start;  /*將子元素垂直置頂*/
    height: 100vh; /*設定高度為「視窗高度」*/
    margin: 10px;
    border: 10px dashed rgb(255, 119, 0);
    border-radius: 10px;
}
